@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-icon {
  animation: rotate 2s linear infinite;
}

.listening-animation {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.leftbar {
  position: fixed;
  left: -300px;
  top: 5rem;
  bottom: 0;
  width: 300px;
  background-color: #f0f0f0;
  transition: left 0.5s ease;
  z-index: 100;
}

.leftbar.menu-open {
  left: 0;
}

@media (max-width: 768px) {
  .leftbar {
    top: 4.5rem; /* Adjust top position to 0 for mobile view */
  }
}
